game.erb
<h1>Blackjack</h1>
Welcome <%= session[:player_name] %>.
<br />
Remaining cards: <%= session[:deck].size %>
<p>Dealer's cards:
<ul>
  <% session[:dealer_cards].each do |card| %>
    <li><%= card.to_s %></li>
  <% end %>
</ul>
</p>

<p>Player's cards:
<ul>
  <% session[:player_cards].each do |card| %>
    <li><%= card.to_s %></li>
  <% end %>
</ul>
</p>


<% session[:dealer_cards].each do |suit, value| %>
<% case suit
      when 'H' then params[:img] = 'hearts_'
      when 'D' then params[:img] = 'diamonds_'
      when 'S' then params[:img] = 'spades_'
      when 'C' then params[:img] = 'clubs_'
      end %>

      Suit: <%= params[:img].to_s %>
      Card value: <%=  value.to_s %>
      <br />
<% end %>
<img src=<% params[:img] %>/>



